^{:watch-dirs ["src"]
  :css-dirs ["resources/public/css"]
  :auto-testing true
  :auto-bundle :webpack }
{:main            com.yetanalytics.lrs-admin-ui.core
 :closure-defines {"re_frame.trace.trace_enabled_QMARK_" true}
 :preloads        [day8.re-frame-10x.preload]}
