^{:auto-bundle :webpack}
{:main com.yetanalytics.lrs-admin-ui.core
 :externs ["externs/react.ext.js"
           "externs/react-dom.ext.js"
           "externs/oidc-client.ext.js"]
 :language-out :es6
 :infer-externs true}
