/*********************************************
# Reactions
*********************************************/

$dl-nesting-depth: 1em;
$condition-padding: 0.5em;

dl.reaction-view > dd {
  padding-left: $dl-nesting-depth;
}

dl.reaction-ruleset > dd {
  padding-left: $dl-nesting-depth;
}

dl.reaction-error {
  background-color: pink;
  padding: 0.5em;
  display: grid;
  gap: 1em;
  grid-template-columns: max-content auto;
  > dt {
    grid-column-start: 1;
  }
  > dd {
    grid-column-start: 2;
    margin-bottom: 0;
  }
}

ul.identity-paths {
  padding-left: 0;
}

div.reaction-conditions {
  > div.condition {
    border-style: solid;
  }
}

div.condition {
  padding: $condition-padding;
  > div.condition-name {
    padding-bottom: $condition-padding;
  }
}

div.boolean {
  border-style: solid;
  padding: $condition-padding;
  > div.boolean-label {
    padding-bottom: $condition-padding;
  }
  // break between list items
  > div.boolean-body {
    > div:not(:first-child) {
      margin-top: $condition-padding;
    }
  }
}

div.clause {
  border-style: solid;
  padding: $condition-padding;
}

dl.op-list {
  margin: 0;
  display: grid;
  gap: 1em;
  grid-template-columns: max-content auto;
  > dt {
    grid-column-start: 1;
  }
  > dd {
    grid-column-start: 2;
    margin-bottom: 0;
  }
}

dl.ref {
  border-style: solid;
  margin: 0;
  padding: $condition-padding;
  display: grid;
  gap: 1em;
  grid-template-columns: max-content auto;
  > dt {
    grid-column-start: 1;
  }
  > dd {
    grid-column-start: 2;
    margin-bottom: 0;
  }
}
