/*********************************************
# Reactions
*********************************************/

$dl-nesting-depth: 1em;
$condition-padding: 1em;

dl.reaction-info-panel-left > span {
  padding-left:$dl-nesting-depth;
}

dl.reaction-info-panel-right {
  float: right;
  padding-right: 20%;
}

div.reaction-view > span {
  padding-left: $dl-nesting-depth;
}

div.reaction-ruleset > label {
  padding-left: $dl-nesting-depth;
}

div.reaction-ruleset > div {
  padding-bottom: 8px;
}

span.add-identity-path {
  padding: 0.5em;
}

dl.reaction-error {
  background-color: pink;
  padding: 0.5em;
  display: grid;
  gap: 1em;
  grid-template-columns: max-content auto;
  > dt {
    grid-column-start: 1;
  }
  > dd {
    grid-column-start: 2;
    margin-bottom: 0;
  }
}

ul.identity-paths {
  padding-left: 0;
}

span.paths-collapse {
  @extend .pointer;
}

span.paths-collapse:after {
  background: url('../images/icons/icon-expand-more.svg') no-repeat center center;
  content: '';
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  background-size: contain;
  text-align: left;
  margin: 4px 8px 0 0;
}

span.paths-collapse.expanded:after {
  background-image: url('../images/icons/icon-expand-less.svg');
}

div.reaction-conditions {
  > div.condition {
    border-top: 1px dashed black;
    background-color: #eee;
  }
}

div.condition {
  position: relative;
  padding: $condition-padding;
  > div.condition-name {
    padding-bottom: $condition-padding;
  }
}

div.clause {
  //border: 1px solid black;
  padding: $condition-padding;
  position: relative;
}

div.clause.even {
  background-color: #ddd;
}

div.clause.odd {
  background-color: #eee;
}

div.clause-type-label {
  padding-bottom:10px;
}

div.boolean {
  > div.boolean-label {
    padding-bottom: $condition-padding;
  }
  // break between list items
  > div.boolean-body {
    > div:not(:first-child) {
      margin-top: $condition-padding;
    }
  }
}

div.delete-icon {
  position: absolute;
  top: 1em;
  color: black;
  right: 1em;
  > a {
    > img {
      max-height: 1.4em;
    }
  }
}

div.add-icon {
  top: 1em;
  color: black;
  > a {
    > img {
      max-height: 1.4em;
    }
  }
}

div.add-clause {
  width: 100%;
  height: 20px;
  padding-top: 5px;
}

div.add-clause div.action-dropdown {
  float: right;
}


dl.op-list {
  margin: 0;
  display: grid;
  gap: 1em;
  grid-template-columns: max-content auto;
  > dt {
    grid-column-start: 1;
  }
  > dd {
    grid-column-start: 2;
    margin-bottom: 0;
  }
}

dl.ref {
  border-style: solid;
  margin: 0;
  padding: $condition-padding;
  display: grid;
  gap: 1em;
  grid-template-columns: max-content auto;
  > dt {
    grid-column-start: 1;
  }
  > dd {
    grid-column-start: 2;
    margin-bottom: 0;
  }
}

$path-input-border: 2px solid #137BCE;;
$path-input-border-radius: 4px;

div.path-input {
  display: flex;
  color: #11375C !important;
  > div:first-child {
    border-radius: $path-input-border-radius 0px 0px $path-input-border-radius;
    border-left: $path-input-border;
  }
  > div {
    border-top: $path-input-border;
    border-right: $path-input-border;
    border-bottom: $path-input-border;
  }

  > div:last-child {
    border-radius: 0px $path-input-border-radius $path-input-border-radius 0px;
  }
  > div.path-input-root {
    padding: 8px;
  }
  > div.path-input-segment {
    padding: 8px;
  }
  > div.path-input-segment-edit {
    > input.index {
      height: 100%;
      width: 4em;
    }
    > div.segment-combo {
      min-width: 8em;
    }
  }
  > div.path-input-action {
    padding: 8px;
    > a {
      > img {
        max-height: 1.5em;
      }
    }
  }
}

div.path-input.invalid {
  background-color: pink;
}

ul.reaction-error-list {
  background-color: pink;
  margin-top: 5px;
}

div.reaction-edit-invalid {
  background-color: pink;
}

tr.reaction-row {
  @extend .pointer;
}

tr.reaction-row:hover, main:not(.page-list-manager) table tbody tr:nth-child(even).reaction-row:hover {
  background-color: #888;
}

div.var-gen-wrapper {
  padding: 15px;
  background-color: #eee;
}

a:hover {
  color: #11375C;
}
