/* Status Dashboard Styles */

.status-refresh-button {
  text-align: right;
}

.status-vis-row {
  display: flex;
}

.status-vis-row > div {
  flex-grow: 1;
}

.big-number {
  text-align: center;
}

.big-number-value {
  font-size: 72px;
  height: 1.2em;
}

.timestamp {
  text-align: center;
}

.timestamp-value {
  font-size: 42px;
  height: 1.2em;
}
