/* Status Dashboard Styles */

.status-refresh-button {
  text-align: right;
}

.status-vis-row {
  display: flex;
  padding-top: 1em;
  padding-bottom: 1em;
}

.status-vis-row > div {
  flex-grow: 1;
}

span.vis-title-loading-spinner {
  margin-left: 0.6em;
  position: relative;
}

.big-number {
  text-align: center;
}

.big-number-value {
  font-size: 72px;
  height: 1.2em;
  position: relative;
}

.timestamp {
  text-align: center;
}

.timestamp-value {
  font-size: 42px;
  height: 1.2em;
  position: relative;
}

.vis-pie {
  height: 500px;
}

.vis-timeline-controls {
  padding: 1em;
}

.vis-timeline-controls label {
  width: 6em;
}

.vis-timeline-controls input {
  width: 20em;
}

.vis-timeline-controls select {
  width: 20em;
}
