name: CD

on:
  push:
    branches:
      - '*'
    tags:
      - 'v*.*.*' # Enforce Semantic Versioning

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

    - name: Setup CI Environment
      uses: yetanalytics/actions/setup-env@v0

    - name: Build Bundle
      run: make bundle

    - name: Archive Bundle (Branch Pushes)
      if: ${{ startsWith(github.ref, 'refs/heads') }}
      uses: actions/upload-artifact@v2
      with:
        name: lrs-admin-ui-artifact-${{ github.sha }}
        path: target/bundle/**

    - name: Compress Bundle
      if: ${{ startsWith(github.ref, 'refs/tags') }}
      run: | # Need to cd so that the zip file doesn't contain the parent dirs
        cd target/bundle
        zip -r ../../lrs-admin-ui.zip ./

    - name: Craft Draft Release (Tag Pushes)
      if: ${{ startsWith(github.ref, 'refs/tags') }}
      uses: softprops/action-gh-release@v1
      with:
        # Defaults:
        # name: [tag name]
        # tag_name: github.ref
        body: "## Release Notes\nTODO: Create great release notes!"
        draft: true
        files: lrs-admin-ui.zip
